body {
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #212121;
}
#text {
  color: white;
  background-color: #1e1c1c;
  font-size: 30px;
  padding: 15px;
  width: 700px;
  height: 500px;
  margin-bottom: 15px;
  border: none;
  resize: none;
}

#calculate {
  font-size: 30px;
  color: white;
  background-color: #1e1c1c;
  border: none;
  cursor: pointer;
}

#table {
  margin-top: 15px;
}

table {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  color: white;
  background-color: #1e1c1c;
  padding: 10px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

tr {
  border-bottom: 3px solid white;
}

td {
  padding: 10px;
  border-right: 3px solid white;
}
